<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsh.backend.mapper.TeamMapper">

    <resultMap id="BaseResultMap" type="com.hsh.backend.model.entity.Team">
            <id property="teamId" column="team_id" />
            <result property="name" column="name" />
            <result property="description" column="description" />
            <result property="maxNum" column="max_num" />
            <result property="expireTime" column="expire_time" />
            <result property="userId" column="user_id" />
            <result property="status" column="status" />
            <result property="password" column="password" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDelete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        team_id,name,description,max_num,expire_time,user_id,
        status,password,create_time,update_time,is_delete
    </sql>
</mapper>
