<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsh.backend.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.hsh.backend.model.entity.User">
            <id property="userId" column="user_id" />
            <result property="userName" column="user_name" />
            <result property="userAccount" column="user_account" />
            <result property="avatarUrl" column="avatar_url" />
            <result property="gender" column="gender" />
            <result property="userPassword" column="user_password" />
            <result property="phone" column="phone" />
            <result property="email" column="email" />
            <result property="userStatus" column="user_status" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDelete" column="is_delete" />
            <result property="userRole" column="user_role" />
            <result property="planetCode" column="planet_code" />
            <result property="tags" column="tags" />
    </resultMap>

    <sql id="Base_Column_List">
        user_id,user_name,user_account,avatar_url,gender,user_password,
        phone,email,user_status,create_time,update_time,
        is_delete,user_role,planet_code,tags
    </sql>
</mapper>
